@font-face
{
	font-family: MicrosoftYaHei;
	src: url('MicrosoftYaHei.ttf')
}

html,body,*{
	font-family:MicrosoftYaHei;
	margin:0;
	padding:0;
	font-color:#fff;
}
.microsolt-font-green{
	color:rgb(34,116,71);
}
.microsolt-bg-green{
	background:rgb(34,116,71);
}


#app{
	width: 1280px;
	position: relative;
}
.nav{
	height: 42px;
	background:rgb(34,116,71);
	color:#fff;
	font-size: 17px;
}
.nav ul{
	list-style: none;
}
.nav ul li{
	width: 160px;
	display:inline-block;
}
.nav ul li a{
	/*color:rgb(5,99,193);*/
	text-decoration:none;
	color:#fff;
	font-size: 18px;
	display: block;
	line-height: 42px;
	text-align: center;
}
.left-nav{
	width: 200px;
	height: 800px;
	background:rgb(34,116,77);
	float: left;
}
.main-context{
	width: 800px;
	height: 800px;
	background:rgb(34,116,71);
	float: left;
}
